.formСontrol {
}

.formСontrol.error input,
.formСontrol.error textarea {
  border: 2px solid red;
}
.formСontrol.error span {
  color: red;
}.formСontrol span {
   display: block;
   padding: 2px;
   margin-bottom: 20px;
}



