.wrapper {
  display: flex;
  width: 100%;
}

.content {
  display: inline-block;
  width: 65%;
  padding: 100px 15px 0px 0px;
}

.sidebar {
  display: inline-block;
  width: 35%;
  padding: 0 0 0 15px;
}
