.location {
  height: 100%;
}
.add {
  border-radius: 20px 20px 0 0;
  background: var(--main-color);
  display: flex;
  align-items: center;
  padding: 30px;
  transition: var(--transition);
  cursor: pointer;
  /*border-bottom: 8px solid #f3f3f3;*/
}

.add:hover {
  background: #e17777;
}

.add:hover .plus {
  transform: rotate(360deg);
}

.add:hover .plus {
  color: #e17777;
}

.plus {
  position: relative;
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 100%;
  color: var(--main-color);
  font-size: 35px;
  font-weight: bold;
  transition: var(--transition);
}

.plus:hover {
  transform: rotate(360deg);
}

.plus span {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 100%;
  transition: var(--transition);
}

.titleWrapper {
  padding-left: 20px;
  text-align: left;
}

.title {
  font-size: 30px;
}

.text {
  font-size: 19px;
}

/*Responsive*/
/* 992px - 1200px */
@media screen and (max-width: 1199px) {
}

/* 768px - 992px */
@media screen and (max-width: 991px) {
  .add {
    padding: 15px;
  }
  .title {
    font-size: 18px;
  }
  .text {
    font-size: 14px;
  }
}

/* 576px - 768px */
@media screen and (max-width: 767px) {
}

/* 320px - 576px */
@media screen and (max-width: 576px) {
}