.header {
  padding: 20px 0;
  background: rgb(50, 50, 50);
}
.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.login {
  color: var(--main-color);
}
.btn {
  display: inline-block;
  color: white;
  font-size: 20px;
  border: 1px solid white;
  padding: 5px;
}
.btn:hover {
  background: white;
  color: black;
}

